/* Fonts */
@font-face {
  font-family: "Futura";
  src: url("./Fonts/Futura.ttc");
}

@font-face {
  font-family: "TF";
  src: url("./Fonts/tf-silence-demo.regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Style.css */
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1f4e7 !important;
  /* font-family: "Futura" !important; */
  font-family: "Montserrat" !important;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}
